<div data-ng-controller="HeaderController" class="cover profile">
    <div class="wrapper">
        <div class="image">
            <img src="dist/images/profile-cover.jpg" alt="people">
        </div>
    </div>
    <div class="cover-info">
        <div class="avatar">
            <img src="dist/images/people/110/guy-5.jpg" alt="people">
        </div>
        <div class="name">
            <a href="#" data-ng-bind="authentication.user.displayName">
            </a>
        </div>
        <ul class="cover-nav">
            <li class="active"><a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
            </li>
            <li><a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a>
            </li>
            <li><a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a>
            </li>
        </ul>
    </div>
</div>