
<div class="container-fluid" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">Intranet</a>
    </div>
    <!-- Collecion de link para navegacion -->
    <nav class="collapse navbar-collapse" id="main-nav">
        <!-- Opcione de Navegacion-->
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle" >
                    <span data-ng-bind="item.title"></span>
                    <b class="caret"></b>
                </a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
        </ul>

        <!-- Perfil Opciones-->
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">

            <!-- Notificaciones-->
            <li class="dropdown notifications">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>
                </a>


                <!--Panel de notificaciones-->
                <ul class="dropdown-menu scrollable-notificaciones" data-ng-controller="NotificationsController" data-ng-init="find()" data-ng-click="$event.stopPropagation()" >

                    <list-notification></list-notification>

                </ul>
            </li>
        </ul>


        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">


            <!-- Usuario Opciones-->
            <li class="dropdown">
                <!---Nombre de Usuario e Imagen de Perfil-->
                <a href="#" class="dropdown-toggle user" data-toggle="dropdown" >
                    <img data-ng-src="{{authentication.user.picture_perfil || 'dist/images/people/110/default_man.jpg'}}" class="img-circle" width="40"/>
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <!--opciones-->
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Editar Perfil</a>
                    </li>
                    <li>
                        <a href="/#!/users">Administración de Usuarios</a>
                    </li>

                    <li>
                        <a href="/#!/groups">Grupos de Usuario</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Cambiar Contraseña</a>
                    </li>
                    <li>
                        <a href="/auth/signout">Cerrar Sesion</a>
                    </li>
                </ul>
            </li>
            <!-- LINK PARA EL CHAT-->
            <!--<li class="hidden-xs">-->
            <!--<a data-toggle="sidebar-chat">-->
            <!--<i class="fa fa-comments"></i>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </nav>
    <!-- /.navbar-collapse -->
</div>



