
<section data-ng-controller="HomeController">
    <div class="row"  data-ng-controller="PublicacionesController" data-ng-init="find()" >
        <div class="col-md-9">
            <ul class="timeline-list">
                <li class="media">
                    <div class="pull-left">

                    </div>
                    <div class="media-body" >
                        <div class="row">

                            <create-publicacion></create-publicacion>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>

                <list-publicaciones></list-publicaciones>

            </ul>
        </div>
        <div class="col-md-3">
            <div data-spy="affix" data-offset-top="318" data-offset-bottom="100">
                <div id="scroll-spy">
                    <ul class="nav timeline-months">
                        <li class="active"><a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a></li>
                        <li><a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a></li>
                        <li><a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a></li>
                        <li><a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a></li>
                        <li><a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a></li>
                        <li><a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

