<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <a href="" class="pull-left"><img src="images/people/50/guy-5.jpg" class="media-object"></a>
            <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                <a href="">Bill</a>
                <span>on 15th January, 2014</span>
            </div>
        </div>
    </div>
    <img src="images/place1-full.jpg" class="img-responsive">
    <ul class="comments">
        <li>
            <div class="media">
                <a href="" class="pull-left"><img src="images/people/50/woman-5.jpg" class="media-object"></a>
                <div class="media-body">
                    <a href="" class="comment-author">Mary</a>
                    <span>Wow</span>
                    <div class="comment-date">2 days</div>
                </div>
            </div>
        </li>
        <li class="comment-form">
            <div class="input-group">
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
            </div>
        </li>
    </ul>
</div>