<section class="row" data-ng-controller="UsersController" >
    <div class="col-md-12" data-ng-init="init();findOne();">
        <form name="userForm" data-ng-submit="update()" class="form-horizontal" novalidate autocomplete="off">

            <div class="panel panel-default">
                <div class="panel-heading panel-heading-gray"><h4>Editar Usuario</h4></div>
                <div class="panel-body">

                    <fieldset class="col-md-12" id="top">
                        <div  data-ng-show="msj" class=" alert alert-success">
                            <label data-ng-bind="msj"></label>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="firstName">Cedula</label>
                                <input type="number" required id="cedula"  name="cedula" class="form-control" data-ng-model="credentials.cedula" placeholder="V-12345678">

                            </div>
                            <div class="col-sm-4">
                                <label for="firstName">Nombres</label>
                                <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Nombres">

                            </div>
                            <div class="col-sm-4">

                                <label for="lastName">Apellidos</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Apellidos">
                            </div>



                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                                <label for="email">Correo</label>
                                <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Correo@dominio.com">
                            </div>
                            <div class="col-sm-4">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
                            </div>
                            <div class="col-sm-4">
                                <label for="username">Rol</label>

                                <select class="form-control" data-ng-model="credentials.group" data-ng-change="actualizarPermisos()">
                                    <option  data-ng-repeat=" groupItem in groups" value="{{groupItem._id}}"> {{groupItem.nombre}}</option>
                                </select>

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-sm-4">
                                <label for="password">Contraseña</label>
                                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
                            </div>
                            <div class="col-sm-4">
                                <label for="password">Confirmar Contraseña</label>
                                <input type="password" id="password_confirm" name="password_confirm" class="form-control" data-ng-model="credentials.password_confirm" placeholder="Confirmar Contraseña">
                            </div>

                            <div class="col-sm-4">
                                <label for="password">Imagen de Perfil</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
                                    <input type="text" class="form-control" data-ng-model="credentials.picture_perfil" placeholder="buscar imagen">
                                </div>

                                <div>

                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Controlador</th>
                                        <th>Lectura</th>
                                        <th>Escritura</th>
                                        <th>Admin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat=" controller in controllers">
                                        <td><span data-ng-bind="controller.nombre"></span></td>
                                        <td>
                                            <input type="checkbox" class="col-md-4" data-ng-model="credentials.access[controller.nombre].read" class="form-control"  />
                                        </td>
                                        <td>
                                            <input type="checkbox" class="col-md-4" data-ng-model="credentials.access[controller.nombre].write" class="form-control"  />
                                        </td>
                                        <td>
                                            <input type="checkbox" class="col-md-4" data-ng-model="credentials.access[controller.nombre].admin" class="form-control"  />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>

                    </fieldset>
                </div>
                <div class="panel-footer">
                    <div class="form-group ">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">
                                Guardar
                                <i class="fa fa-save"></i>
                            </button>

                            <a href="/#!/users" class="btn btn-danger pull-left"><i class="fa fa-arrow-left"></i> Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</section>