<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="col-md-12">
        <div class="page-header">
            <h4> Usuarios</h4>
            <a href="/#!/users/register" class="btn btn-default">Agregar Nuevo Usuario</a>
        </div>

        <div class="panel panel-default">
            <table tr-ng-grid="" items="users" page-items="15" selection-mode="SingleRow">
                <thead>
                <tr>
                    <th field-name="firstName" display-name="Nombres">
                        Nombres
                    </th>
                    <th field-name="lastName" display-name="Apellidos">
                        Apellidos
                    </th>
                    <th field-name="group.nombre" display-name="Grupo de Usuario">
                        Grupo
                    </th>

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>
                        <div>
                            <a href="/#!/users/{{gridItem._id}}/edit" class="btn btn-default btn-xs" ><i class="fa fa-pencil"></i></a>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>