<section data-ng-controller="GroupsController">
    <div class="col-md-12" data-ng-init="getControllers()">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray"><h4>Nuevo Grupo</h4></div>
            <div class="panel-body">
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-12"><span class="pull-left">Nombre</span></label>
                        <div class="controls col-sm-12">
                            <input type="text" data-ng-model="nombre" id="nombre" class="form-control" placeholder="Nombre" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12 "><span class="pull-left">Descripcion</span></label>
                        <div class="controls col-sm-12">
                            <textarea data-ng-model="descripcion" id="descripcion" class="form-control" placeholder="Descripcion" required ></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12 "><span class="pull-left">Rango</span></label>
                        <div class="controls col-sm-10">
                            <input type="range" class="form-control" data-ng-model="rango" min="0" max="100" >
                        </div>
                        <div class="controls col-sm-2">
                            <span>
                               <b> {{rango}}</b>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12 "><span class="pull-left">Acceso</span></label>

                        <div class="controls col-sm-12" >
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Controlador</th>
                                    <th>Lectura</th>
                                    <th>Escritura</th>
                                    <th>Admin</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat=" controller in controllers">
                                    <td><span data-ng-bind="controller.nombre"></span></td>
                                    <td>
                                        <input type="checkbox" class="col-md-4" data-ng-model="acceso[controller.nombre].read" class="form-control"  />
                                       </td>
                                    <td>
                                        <input type="checkbox" class="col-md-4" data-ng-model="acceso[controller.nombre].write" class="form-control"  />
                                        </td>
                                    <td>
                                        <input type="checkbox" class="col-md-4" data-ng-model="acceso[controller.nombre].admin" class="form-control"  />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">
                                Guardar
                                <i class="fa fa-save"></i>
                            </button>

                            <a href="/#!/groups" class="btn btn-danger pull-left"><i class="fa fa-arrow-left"></i> Volver</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
