<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="col-md-12">
        <div class="page-header">
            <h4>Grupos de Usuarios</h4>
            <a href="/#!/groups/create" class="btn btn-default">Agregar Nuevo Grupo</a>
        </div>

        <div class="panel panel-default">
            <table tr-ng-grid="" items="groups" selection-mode="SingleRow">
                <thead>
                <tr>
                    <th field-name="nombre">
                        Nombre
                    </th>
                    <th field-name="descripcion">
                        Descripcion
                    </th>

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>
<div>
    <a href="/#!/groups/{{gridItem._id}}/edit" class="btn btn-default btn-xs" ><i class="fa fa-pencil"></i></a>

    <a href="#"  data-ng-click="remove();" class="btn btn-danger btn-xs" ><i class="fa fa-trash"></i></a>

</div>

                    </td>


                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>