<form data-ng-enter="create()" novalidate>

    <input type="text" data-ng-model="content" id="contenido" class="form-control" placeholder="Escriba un comentario..." required>
    <!-- <div data-ng-show="error" class="text-danger">
		 <strong data-ng-bind="error"></strong>
	</div> -->
</form>