<li data-ng-repeat="comentario in publicacione.comments">
    <div class="media">
        <a href="" class="pull-left"><img src="dist/images/people/50/guy-5.jpg" class="media-object"></a>
        <div class="media-body">
            <a href="" class="comment-author" data-ng-bind="comentario.comment.user.displayName"></a>
            <span data-ng-bind="comentario.comment.content"></span>
            <div class="comment-date" data-ng-bind="comentario.comment.created | date: 'd MMM y h:mm:ss a'"></div>
        </div>
    </div>
</li>