<div class="col-md-12 col-lg-12">
        <form class="form-horizontal"  data-ng-enter="create()" novalidate>

        <div class="panel panel-default share">
            <div class="panel-heading panel-heading-gray title">
                ¿Que estas Pensando?
            </div>
            <div class="panel-body">

                <textarea name="status" class="form-control share-text" rows="3" placeholder="Comparte tu estado..." data-ng-model="content" id="contenido"></textarea>
            </div>
            <div class="panel-footer share-buttons">
                <a href="#">
                    <i class="fa fa-map-marker"></i>
                </a>
                <a href="#">
                    <i class="fa fa-photo"></i>
                </a>
                <a href="#">
                    <i class="fa fa-video-camera"></i>
                </a>

                <button type="submit" class="btn btn-primary btn-xs pull-right " href="#">Publicar</button>
            </div>
        </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
            </form>
       </form>
</div>
