<div>
   <div data-ng-repeat="publicacione in publicaciones">
    <li class="media" id="october" >
        <div class="pull-left">
            <img src="dist/images/people/110/woman-5.jpg" alt="people" class="img-circle" width="80"/>
            <div class="date" data-ng-bind="publicacione.created | date: 'd MMM'"></div>
        </div>
    <!------------>
        <div class="media-body">
        <div class="row">
            <ul class="timeline-list">
                <div class="col-md-10 col-lg-8">
                    <div class="panel panel-default" >
                        <!--<span class="list-group-item-heading" data-ng-bind="publicacione.name"></span>-->
                            <div class="panel-body" data-ng-bind="publicacione.content">

                            </div>
                        <ul class="comments" data-ng-controller="CommentsController">

                            <list-comments data-ng-init=""></list-comments>

                            <li class="comment-form">

                                 <div class="input-group" data-ng-init="asignarPost(publicacione._id)">
                                     <create-comment></create-comment>
                                         <span class="input-group-addon">
                                             <a href=""><i class="fa fa-photo"></i></a>
                                         </span>
                                 </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    </li>
    </div>
</div>






