   <li class="media-notificaciones" data-ng-repeat="notification in notifications" data-ng-show="notification.status">
     <div class="media-body bckgrnd-{{background(notification)}}">
       <a class="pull-left" href="#">
         <img class="media-object thumb" src="dist/images/people/50/woman-7.jpg" alt="people">
       </a>
       <span class="glyphicon glyphicon-remove pull-right" data-ng-click="remove(notification);" title="Desactivar"></span>
       <span class="glyphicon glyphicon-record pull-right" data-ng-click="seen(notification);" title="Marcar como vista"></span>
         <p class="margin-none">
           <b data-ng-bind="notification.user.displayName"></b> ha dado
           <b data-ng-bind="notification.action"></b> a tu publicacion
           "<b data-ng-bind="notification.post.content"></b>"
         </p>
       <span class="label label-default pull-right" data-ng-bind="notification.created | date: 'd MMM'" title="{{ notification.created | date: fullDate }}"></span>
     </div>
   </li>
   <li><b><a href="/#!/notifications">Ver todas</a></b></li>