<div class="sidebar right">
    <div class="chat-search">
        <input type="text" class="form-control" placeholder="Search"/>
    </div>

    <ul class="chat-filter nav nav-pills ">
        <li class="active"><a href="#" data-target="li">All</a></li>
        <li><a href="#" data-target=".online">Online</a></li>
        <li><a href="#" data-target=".offline">Offline</a></li>
    </ul>
    <ul class="chat-contacts">
        <li class="online" data-user-id="1">
            <a href="#">
                <div class="media">
                    <div class="pull-left">
                        <span class="status"></span>
                        <img src="dist/images/people/110/guy-6.jpg" width="40" class="img-circle"/>
                    </div>
                    <div class="media-body">

                        <div class="contact-name">Jonathan S.</div>
                        <small>"Free Today"</small>
                    </div>
                </div>
            </a>
        </li>

        <li class="online away" data-user-id="2">
            <a href="#">

                <div class="media">
                    <div class="pull-left">
                        <span class="status"></span>
                        <img src="dist/images/people/110/woman-5.jpg" width="40" class="img-circle"/>
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Mary A.</div>
                        <small>"Feeling Groovy"</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="online" data-user-id="3">
            <a href="#">
                <div class="media">
                    <div class="pull-left">
                        <span class="status"></span>
                        <img src="dist/images/people/110/guy-3.jpg" width="40" class="img-circle"/>
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Adrian D.</div>
                        <small>Busy</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="offline" data-user-id="4">
            <a href="#">

                <div class="media">
                    <div class="pull-left">
                        <img src="dist/images/people/110/woman-6.jpg" width="40" class="img-circle"/>
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Michelle S.</div>
                        <small>Offline</small>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<script id="chat-window-template" type="text/x-handlebars-template">

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="chat-collapse" data-target="#chat-bill">
            <a href="#" class="close"><i class="fa fa-times"></i></a>
            <a href="#"><img src="{% raw %}{{ user_image }}{% endraw %}" width="40" class="pull-left">
                <span class="contact-name">{% raw %}{{user}}{% endraw %}</span>
            </a>
        </div>
        <div class="panel-body" id="chat-bill">
            <div class="media">
                <div class="pull-left">
                    <img src="{% raw %}{{ user_image }}{% endraw %}" width="25" class="img-circle" alt="people"/>
                </div>
                <div class="media-body">
                    <span class="message">Feeling Groovy?</span>
                </div>
            </div>
            <div class="media right">
                <div class="pull-right">
                    <img src="{% raw %}{{ user_image }}{% endraw %}" width="25" class="img-circle" alt="people"/>
                </div>
                <div class="media-body">
                    <span class="message">Yep.</span>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img src="{% raw %}{{ user_image }}{% endraw %}" width="25" class="img-circle" alt="people"/>
                </div>
                <div class="media-body">
                    <span class="message">This chat window looks amazing.</span>
                </div>
            </div>
            <div class="media right">
                <div class="pull-right">
                    <img src="{% raw %}{{ user_image }}{% endraw %}" width="25" class="img-circle" alt="people"/>
                </div>
                <div class="media-body">
                    <span class="message">Thanks!</span>
                </div>
            </div>


        </div>
        <input type="text" class="form-control" placeholder="Type message..."/>
    </div>
</script>

<div class="chat-window-container"></div>