<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ title }}</title>

  <!--Application CSS Files-->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
  {% endfor %}

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="login">

  <div id="content"  data-ng-controller="AuthenticationController">
    <div class="container-fluid">
      <div class="lock-container">
        <h1>Accede a tu Cuenta</h1>
        <div class="panel panel-default text-center">
          <img  data-ng-src="{{authentication.user.picture_perfil || 'dist/images/people/110/default_man.jpg'}}"  class="img-circle">
          <div class="panel-body">
            <form data-ng-submit="signin()" autocomplete="off">
            <input class="form-control" type="text" placeholder="Usuario " data-ng-model="credentials.username">
            <input class="form-control" type="password" placeholder="Contraseña" data-ng-model="credentials.password">

            <button type="submit" class="btn btn-primary">Ingresar <i class="fa fa-fw fa-unlock-alt"></i></button>
            

            <div data-ng-show="error" class="text-center text-danger">
              <strong data-ng-bind="error"></strong>
            </div>

            <a href="#" class="forgot-password">Olvidaste tu contraseña?</a>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Embedding The User Object-->
  <script type="text/javascript">
  var user = {{ user | json | safe }};
  </script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
  {% endfor %}

  {% if process.env.NODE_ENV === 'development' %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

  {% endif %}

</body>

</html>
